label,
input:not([type="text"]) {
	user-select: none !important;
	cursor: pointer !important;
}

input[type="text"],
input[type="email"],
input[type="password"] {
	min-height: 50px !important;
}

input[type="text"]:focus,
textarea:focus {
	padding-left: 10px !important;

	@media (max-width:750px) {
		& {
			padding-left: 5px !important;

		}
	}
}

input::placeholder {
	text-transform: capitalize;
}

input:focus::placeholder {
	visibility: hidden;
}

input[type="text"],
textarea {
	padding-left: 30px !important;
}

::placeholder {
	text-transform: capitalize;

	@media (max-width:750px) {
		& {
			font-size: 10px !important;
		}

	}
}

input:focus::placeholder,
textarea:focus::placeholder {
	visibility: hidden !important;
}


input[type="checkbox"] {
	display: none;

	&:checked+label::before {
		background-color: #0075ff;
		border: 1px solid var(--blue-alt-color);
		content: "\f00c";
		animation: alternate flipX linear 0.4s;
	}

	~label.disabled {
		cursor: no-drop;

		&::before {
			background-color: #8787 !important;
			border: 1px solid #888 !important;
		}
	}

	~label.chk {
		&::before {
			transform: rotate(360deg);
		}
	}

	~label {
		padding-left: 30px;

		@media (max-width:350px) {
			padding-left: 20px;
		}

		position: relative;
		cursor: pointer;

		&::before {
			transform: rotate(0deg);
			transition: 0.6s;
			content: "";
			position: absolute;
			padding: 2px;
			border-radius: 3px;
			left: 0;
			top: 50%;
			width: 10px;
			height: 10px;
			border: 1px solid #888;
			transform: translateY(-50%);
			display: flex;
			align-items: center;
			color: white;
			justify-content: center;
			font-family: var(--fa-style-family-classic);
			font-weight: 900;
			font-size: 10px;
		}
	}


}


input[type="checkbox"] {
	cursor: pointer !important;
}

textarea:focus {
	padding-left: 10px !important;
}

textarea {
	padding-top: 20px !important;
}

textarea:focus {
	padding-top: 10px !important;
}

textarea {
	padding-left: 30px !important;
}

textarea:focus::placeholder {
	visibility: hidden !important;
}

textarea {
	min-height: 200px !important;
	resize: none !important;
}

*[disabled],
.disabled {
	cursor: no-drop;
}